<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="customer/customerparent::layout(~{::section})">
<head>
<style>

</style>
</head>

<body>
	<section>
		<h2 class="text-center text-light">Welcome !!</h2>
		<div class="row">
			<div class="col-sm-10 mx-auto bg-white">
				<div class="row text-center fw-bold text-dark py-2">
					<h2>
						Hello Dear, <span class="text-danger" th:text="${c.name}"></span>
					</h2>
				</div>

				<hr>
				<div class="row p-4 pt-2">
					<div class="col-md-3">
						<form method="post" action="uploadimg">
						<div class="row"><img src="../images/man.jpg" class="w-100" alt="Show Image"/></div>
						<div class="row">
						<input type="file" class="form-control"> <button class="btn btn-primary p-2">Update Profile</button>
						</div>
						</form>
					</div>
					<div class="col-md-1 "></div>
					
					<div class="col-md-8 px-3 ">

						<table class="table table-borderless ms-auto">
							<tr>
								<th>Name</th>
								<td th:text="${c.name}"></td>
							</tr>

							<tr>
								<th>Gender</th>
								<td th:text="${c.gender}"></td>
							</tr>

							<tr>
								<th>Address</th>
								<td th:text="${c.address}"></td>
							</tr>

							<tr>
								<th>Contact No.</th>
								<td th:text="${c.contactno}"></td>
							</tr>

							<tr>
								<th>Email Address</th>
								<td th:text="${c.emailaddress}"></td>
							</tr>

							<tr>
								<th>Registration Date</th>
								<td th:text="${c.regdate}"></td>
							</tr>

						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- -<table class="table table-bordered text-light"
			style=" margin: auto;">
			<tr>
				<th>Name</th>
				<th th:text="${c.name}"></th>
			</tr>

			<tr>
				<th>Gender</th>
				<th th:text="${c.gender}"></th>
			</tr>

			<tr>
				<th>NameAddress</th>
				<th th:text="${c.address}"></th>
			</tr>

			<tr>
				<th>Contact No.</th>
				<th th:text="${c.contactno}"></th>
			</tr>

			<tr>
				<th>NEmail Address</th>
				<th th:text="${c.emailaddress}"></th>
			</tr>

			<tr>
				<th>Registration Date</th>
				<th th:text="${c.regdate}"></th>
			</tr>

		</table>
	 -->
	</section>
</body>
</html>