<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="customer/customerparent::layout(~{::section})">
  <head></head>
  <body>
    <section>
    	<h2 class="text-center text-light">Submit Response</h2>    
    	<div th:if="${message}">
    		<p th:text="${message}" class="alert alert-success alert-dismissible"></p>
    	</div>
    	<form class="form-group" method="post">
    		<table class="table table-bordered" style="width:60%; margin:auto;">
    			<tr>
    				<td>Select Response Type</td>
    				<td>
    					<select class="form-control text-light" name="responsetype">
    						<option value="complaint">Complaint</option>
    						<option value="feedback">Feedback</option>
    					</select>
    				</td>
    			</tr>
    			
    			<tr>
    				<td>Enter Subject</td>
    				<td>
    					<textarea class="form-control text-light" name="subject" required></textarea>
    				</td>
    			</tr>
    			
    			<tr>
    				<td>Enter Message</td>
    				<td>
    					<textarea class="form-control text-light" name="message" required></textarea>
    				</td>
    			</tr>
    			
    			<tr>
    				<td colspan="2" class="text-center">
    					<button type="submit" class="btn btn-primary py-2 mx-auto">Submit Response</button>
    				</td>
    			</tr>
    			
    		</table>
    	</form>
    </section>
  </body>
</html>