<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/adminparent::layout(~{::section})">
  <head></head>
  <body>
    <section>
    	<h2 class="text-center text-light">Project Statistics</h2> 
    	<div class="row p-4 text-light">

        <div class="col-md-6 col-lg-6 px-0 px-lg-3 px-md-2 my-3">
            <div class="card text-center">
                <h3 class="py-2">Total Customers
                    <hr />
                </h3>
                <h2 th:text="${ccount}" class="pb-3 text-white">
                    
                </h2>

            </div>
        </div>

        <div class="col-md-6 col-lg-6 px-0 px-lg-3 px-md-2 my-3">
            <div class="card text-center">
                <h3 class="py-2">Total Enquiries
                    <hr />
                </h3>
                <h2 th:text="${ecount}" class="pb-3 text-white">
                    
                </h2>

            </div>
        </div>
        </div>
		<div class="row p-4 text-light">
        <div class="col-md-6 col-lg-6 px-0 px-lg-3 px-md-2 my-3">
            <div class="card text-center">
                <h3 class="py-2">Total Responses
                    <hr />
                </h3>
                <h2 th:text="${rcount}" class="pb-3 text-white">
                    
                </h2>

            </div>
        </div>


        <div class="col-md-6 col-lg-6 px-0 px-lg-3 px-md-2 my-3">
            <div class="card text-center">
                <h3 class="py-2">Total Products
                    <hr />
                </h3>
                <h2 th:text="${pcount}" class="pb-3 text-white">
                    
                </h2>

            </div>
        </div>
        </div>   
    </section>
  </body>
</html>