<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
  </head>
  <body>
  	<section>
  		<h2 class="text-center text-light pt-4">About Marc Laboratories</h2>
    <p class="text-center text-light pt-0" >India’s Best Digital Ayurvedic Pharmacy </p>

    <p class="fw-bold text-light">Only for you, India’s topmost medicine manufacturer, Marc Lab has launched the MarcCure. Why do we do so? Because people need quality ayurvedic treatment for their health issues. We have gained 35+ years of experience in medicine manufacturing. Hence, we decided to develop ayurvedic medicines and offer them to you through MarcCure: India’s best ayurvedic medicine online store. Our ayurvedic supplements are FSSAI approved. Some products are manufactured with CSIR and CDRI. Our ayurvedic medicines are certified by Ayush Ministry and other government authorities too.

      Marc Laboratories Pvt. Ltd. is privately held pharmaceutical companies in India, headquartered at Lucknow, in the state of Uttar Pradesh.
      
      Over the last three decades, it has been developing and manufacturing pharmaceutical products and selling and distributing these in India. An integrated healthcare solutions provider with pharmaceutical product basket, it caters to a wide range of therapeutic areas that include orthopaedic, gynaecology, cardiovascular, gastrointestinal, analgesics, haematinics, anti-infectives, antibiotics, and antidiabetics and immunologicals. The company focuses on providing high quality, appropriately priced products to its customers. Marc Laboratories has a multilingual workforce of more than thousand employees.</p>
      
      <p class="pt-3 fw-bold text-light">The company has Manufacturing establishments in Baddi, Himachal Pradesh and Gurgaon, Haryana.</p>
      <p class="pt-2 fw-bold text-light">The company has state-of-the-art manufacturing facilities conforming to the most stringent international WHO-GMP norms. Spread over Two Lac sq.ft. of land, Marc Laboratories' manufacturing facility at Baddi, Himachal Pradesh is the cynosure of all eyes, well equipped with world-class production facilities</p>
  	</section>
  </body>
</html>