<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
  </head>
  <body>
  	<section class="bg-secondary" style="padding-top:100px;">
  		<h2 class="text-center text-dark pt-4 fw-bold">Admin Login</h2>
  		<div th:if="${message}">
  			<p th:text="${message}" class="alert alert-danger alert-dismissible"></p>
  		</div>
  		<div  class="row">
  			<div class= "col-md-8 mx-auto rounded border p-4 m-4 border border-secondary bg-light">
  				<form method="post" th:object="${adminLoginDao}">
  				
  					<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Enter Admin Id</label>
  						<div class="col-sm-8">
  						<input type="text" class="form-control" placeholder="enter Your Id" th:field="${adminLoginDao.adminid}" required>
  						</div>
  					</div>
  					
  					<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Enter Password</label>
  						<div class="col-sm-8">
  						<input type="password" placeholder="enter Your password" th:field="${adminLoginDao.adminpassword}" class="form-control" required />
  						</div>
  					</div>
  					
  					<div class="row mb-3">
     					 <div class="col-sm-4"></div>
      					 <div class="col-sm-8">
        				 	<button type="submit" class="btn btn-primary">Login</button>
      					</div>
    				</div>
  					
  				</form>
  			</div>
  		</div>
  	</section>
  </body>
</html>