<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
  </head>
  <body>
  	<section class="bg-secondary" style="padding-top:50px;">
  		<h2 class="text-center text-dark fw-bold pt-5">Enquiry Form</h2>
  		<div th:if="${message}">
  			<p th:text="${message}" class="alert alert-success alert-dismissible"></p>
  		</div>
  		<div class="row">
  			<div class= "col-md-8 mx-auto rounded border p-4 m-4 border border-light bg-light">
  				<form th:object="${enquiryDao}" method="post">
  					
  					<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Enter Name</label>
  						<div class="col-sm-8">
  							<input class="form-control" placeholder="enter Your name" th:field="${enquiryDao.name}" />
  							<p th:if="${#fields.hasErrors('name')}" 
  								th:errorClass="text-danger" th:errors="${enquiryDao.name}"></p>
  						</div>
  					</div>
  					
  					<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Enter Contact No</label>
  						<div class="col-sm-8">
  							<input class="form-control" placeholder="enter Your Contact number" th:field="${enquiryDao.contactno}" />
  							<p th:if="${#fields.hasErrors('contactno')}" 
  								th:errorClass="text-danger" th:errors="${enquiryDao.contactno}"></p>
  						</div>
  					</div>
  					
  					<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Enter Subject</label>
  						<div class="col-sm-8">
  							<input class="form-control" placeholder="Choose your Subject" th:field="${enquiryDao.subject}" />
  							<p th:if="${#fields.hasErrors('subject')}" 
  								th:errorClass="text-danger" th:errors="${enquiryDao.subject}"></p>
  						</div>
  						</div>
  						
  						<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Enter message</label>
  						<div class="col-sm-8">
  							<textarea class="form-control" placeholder="Write your Message here" th:field="${enquiryDao.message}"></textarea>
  							<p th:if="${#fields.hasErrors('message')}" 
  								th:errorClass="text-danger" th:errors="${enquiryDao.message}"></p>
  						</div>
  					</div>
  					
  					<div class="row mb-3">
  						<div class="col-sm-4"></div>
  						<div class="col-sm-8">
  							<button type="submit" class="btn btn-primary">Submit</button>
  						</div>
  					</div>
  					
  				</form>
  			</div>
  		</div>
  		
  	</section>
  	
  </body>
</html>