<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
  </head>
  <body>
  	<section class="bg-secondary pt-5 mt-3">
  		<h2 class="text-center text-danger fw-bold pt-4">Customer Registration</h2>
  		<div th:if="${message}">
  			<p th:text="${message}" class="alert alert-success alert-dismissible"></p>
  		</div>
  		<div  class="row">
  			<div class= "col-md-8 mx-auto rounded border p-4 m-4 border border-light bg-light">
  				<form method="post" th:object="${customerDao}">
  				
  					<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Enter name</label>
  						<div class="col-sm-8">
  						<input placeholder="enter your name" class="form-control" th:field="${customerDao.name}">
  						<p th:if="${#fields.hasErrors('name')}" th:errorClass="text-danger" th:errors="${customerDao.name}"></p>
  						</div>
  					</div>
  					
  					<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Select gender</label>
  						<div class="col-sm-8">
  						<input type="radio" th:field="${customerDao.gender}" class="form-check-input" value="Male"/>Male &nbsp;
  						<input type="radio" th:field="${customerDao.gender}" class="form-check-input" value="Female"/>Female
  						</div>
  					</div>
  					
  					<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Enter Address</label>
  						<div class="col-sm-8">
  						<textarea th:field="${customerDao.address}" placeholder="enter Your address" class="form-control"></textarea>
  						<p th:if="${#fields.hasErrors('address')}" th:errorClass="text-danger" th:errors="${customerDao.address}"></p>
  						</div>
  					</div>
  					
  					<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Enter Contact No</label>
  						<div class="col-sm-8">
  						<input type="number" placeholder="enter contact number" th:field="${customerDao.contactno}" class="form-control" />
						<p th:if="${#fields.hasErrors('contactno')}" th:errorClass="text-danger" th:errors="${customerDao.contactno}"></p>
  						</div>
  					</div>
  		
  					<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Enter Email (User Id)</label>
  						<div class="col-sm-8">
  						<input type="email" placeholder="enter your email address" th:field="${customerDao.emailaddress}" class="form-control" />
						<p th:if="${#fields.hasErrors('emailaddress')}" th:errorClass="text-danger" th:errors="${customerDao.emailaddress}"></p>
  						</div>
  					</div>
  					
  					<div class="row mb-3">
  						<label class="col-sm-4 col-form-label fw-bold">Create Password</label>
  						<div class="col-sm-8">
  						<input type="password" placeholder="create Your password" th:field="${customerDao.password}" class="form-control" />
						<p th:if="${#fields.hasErrors('password')}" th:errorClass="text-danger" th:errors="${customerDao.password}"></p>
  						</div>
  					</div>
  					
  					<div class="row mb-3">
     					 <div class="col-sm-4"></div>
      					 <div class="col-sm-8">
        				 	<button type="submit" class="btn btn-primary">Register</button>
      					</div>
    				</div>
  					
  				</form>
  			</div>
  		</div>
  	</section>
  </body>
</html>